<div class="flex flex-col px-4 mt-6 mx-auto max-w-fit md:max-w-2xl lg:max-w-3xl gap-16">

  <div>
    <!-- <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company"> -->
    <h2 class="mt-6 text-center text-3xl font-bold">Add a new recipe</h2>
  </div>

  <ul class="steps">
    <li class="step hover:cursor-pointer hover:text-primary hover:step-primary" (click)="moveStepHandler(0)" [ngClass]="currentStep > -1 ? currentStep === 0 ? ['step-primary', 'text-primary'] : 'step-primary' : ''">Name and description</li>
    <li class="step hover:cursor-pointer hover:text-primary hover:step-primary" (click)="moveStepHandler(1)" [ngClass]="currentStep > 0 ? currentStep === 1 ? ['step-primary', 'text-primary'] : 'step-primary' : ''">Ingredients</li>
    <li class="step hover:cursor-pointer hover:text-primary hover:step-primary" (click)="moveStepHandler(2)" [ngClass]="currentStep > 1 ? currentStep === 2 ? ['step-primary', 'text-primary'] : 'step-primary' : ''">Cooking Instructions</li>
    <li class="step hover:cursor-pointer hover:text-primary hover:step-primary" (click)="moveStepHandler(3)" [ngClass]="currentStep > 2 ? currentStep === 3 ? ['step-primary', 'text-primary'] : 'step-primary' : ''">Final details</li>
  </ul>

  <form [formGroup]="form" (submit)="submitHandler()">

    <!-- STEP 1 -->
    <div [ngClass]="currentStep !== 0 ? 'hidden' : ''">
      <div class="form-control w-full m-0">
        <input formControlName="name" type="text" name="name" placeholder="Recipe name" class="input input-bordered w-full" [ngClass]="form.get('name')?.invalid && form.get('name')?.dirty ? 'input-error' : ''" />
        <label class="label">
          <span *ngIf="form.get('name')?.dirty && form.get('name')?.invalid" class="label-text-alt text-error">The name of the recipe must be at least 3 characters long</span>
        </label>
      </div>
      <div class="form-control w-full m-0">
        <textarea formControlName="description" name="description" placeholder="You can add a short description for the recipe" class="h-48 input input-bordered w-full" [ngClass]="form.get('description')?.invalid && form.get('description')?.dirty ? 'input-error' : ''"></textarea>
        <label class="label">
          <span *ngIf="form.get('description')?.dirty && form.get('description')?.invalid" class="label-text-alt text-error">Description text cannot exceed 2500 characters</span>
        </label>
      </div>
    </div>

    <!-- STEP 2 -->
    <div class="flex flex-col gap-6" [ngClass]="currentStep !== 1 ? 'hidden' : ''">
      <ol class="flex flex-col gap-4" formArrayName="ingredients">
        <li class="flex gap-4" *ngFor="let control of form.controls.ingredients.controls; index as i">
          <div *ngIf="!control.disabled" [formGroupName]="i" class="flex gap-2 flex-grow"> 
            <div class="form-control flex-grow">
              <input type="text" name="ingName" placeholder="Ingredient" formControlName="name" class="input input-bordered" >              
              <label class="label">
                <span *ngIf="control.get('name')?.dirty && control.get('name')?.invalid" class="label-text-alt text-error">Ingredient name is required</span>
              </label>
            </div>
            <div class="form-control w-28">
              <input type="text" name="quantity" placeholder="Quantity" formControlName="quantity" class="input input-bordered" >
              <label class="label">
                <span *ngIf="control.get('name')?.dirty && control.get('name')?.invalid" class="label-text-alt text-error"></span>
              </label>
            </div>
            <div class="form-control w-28">
              <input type="text" name="units" placeholder="Units" formControlName="units" class="input input-bordered" >
              <label class="label">
                <span *ngIf="control.get('name')?.dirty && control.get('name')?.invalid" class="label-text-alt text-error"></span>
              </label>
            </div>
          </div> 
          <div *ngIf="control.disabled" class="flex flex-grow hover:cursor-pointer hover:text-primary" (click)="toggleControlEdit(control)">
            <div class="flex gap-4">
              <svg class="text-primary w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
              <span class="text-left">{{control.get('name')?.value}}</span>
            </div>
            <span class="ml-auto text-right">{{control.get('quantity')?.value}} {{control.get('units')?.value}}</span>
          </div>
          <div class="flex gap-2 ml-auto">
            <button *ngIf="!control.disabled" disabled="{{control.pristine || control.invalid ? true : ''}}" type="button" class="btn btn-xs btn-success rounded" (click)="toggleControlEdit(control)">
              <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
            </button>
            <button *ngIf="control.disabled" type="button" class="ml-auto btn btn-xs btn-error rounded" (click)="removeFormArrayControl(i, control)">
              <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
          </div>
        </li>
      </ol>
    </div>

    <!-- STEP 3 -->
    <div class="overflow-y-auto" [ngClass]="currentStep !== 2 ? 'hidden' : ''">
      <ol class="flex flex-col gap-4">
        <li class="flex gap-4" *ngFor="let control of form.controls.cookingSteps.controls; index as i">
          <div class="bg-primary text-primary-content flex-none rounded-full w-8 h-8 flex items-center justify-center" [ngClass]="control.pristine ? 'bg-opacity-30' : ''">{{i + 1}}</div>
          <div *ngIf="!control.disabled" class="form-control flex-grow">
            <textarea type="text" name="cookingStep" [formControl]="control" placeholder="Describe the instruction for this step of the meal preparation" class="h-32 input input-bordered flex-grow" (blur)="toggleControlEdit(control)"></textarea>       
            <label class="label">
              <span *ngIf="control?.dirty && control.invalid" class="label-text-alt text-error">This step should be at least 3 characters long</span>
            </label>
           </div>
          <span *ngIf="control.disabled" class="flex-grow place-self-center hover:cursor-pointer hover:text-primary" (click)="toggleControlEdit(control)">{{control.value}}</span>
          <div class="flex gap-2">
            <button *ngIf="!control.disabled" disabled="{{control.pristine || control.invalid ? true : ''}}" type="button" class="btn btn-xs btn-success rounded" (click)="toggleControlEdit(control)">
              <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
            </button>
            <button *ngIf="control.disabled" type="button" class="ml-auto btn btn-xs btn-error rounded" (click)="removeFormArrayControl(i, control)">
              <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
          </div>
        </li>
      </ol>
    </div>

    <!-- STEP 4 -->
    <div [ngClass]="currentStep !== 3 ? 'hidden' : ''">
      <div class="flex justify-between flex-wrap gap-4">
        <div class="form-control w-24  m-0">
          <label class="label">
            <span class="label-text">Cooking time</span>
          </label>      
          <input type="number" name="name" placeholder="1" min=1 class="input input-bordered"  />
          <label class="label">
            <!-- <span *ngIf="name.dirty && name.invalid" class="label-text-alt text-error">The name of the recipe must be at least 3 characters long</span> -->
          </label>
        </div>
        <div class="form-control w-24  m-0">
          <label class="label">
            <span class="label-text">Portions</span>
          </label>      
          <input type="number" name="name" placeholder="1" min=1 class="input input-bordered"  />
          <label class="label">
            <!-- <span *ngIf="name.dirty && name.invalid" class="label-text-alt text-error">The name of the recipe must be at least 3 characters long</span> -->
          </label>
        </div>
        <div class="form-control flex-grow m-0">
          <label class="label">
            <span class="label-text">Nationality</span>
          </label>      
          <input type="text" name="name" placeholder="Nationality" min=1 class="input input-bordered"  />
          <label class="label">
            <!-- <span *ngIf="name.dirty && name.invalid" class="label-text-alt text-error">The name of the recipe must be at least 3 characters long</span> -->
          </label>
        </div>
     </div>
    </div>

    <div class="mt-6 flex justify-between gap-2" >
      <button [disabled]="currentStep === 0"  type="button" class="btn gap-2" (click)="moveStepHandler(currentStep - 1)">
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
        <span>Previous</span>
      </button>
      <button *ngIf="currentStep < 3" class="btn gap-2"  type="button" (click)="moveStepHandler(currentStep + 1)">
        <span>Next</span>
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
      </button>
      <button *ngIf="currentStep===3" [disabled]="form.invalid" class="btn btn-success gap-2" type="submit">
        <span>Add</span>
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
      </button>
    </div>
  </form>
 </div>