<div class="flex min-h-screen">
  <div class="hidden bg-base-200 md:block max-w-fit sm:col-span-2">
    <ul class="my-4 menu menu-compact w-48 p-2 rounded-box">
      <ng-container *ngFor="let category of ((query$ | async))!.tags | keyvalue">
        <li></li>
        <li class="menu-title">
          <span>{{category.key}}</span>
        </li>
        <li *ngFor="let tag of category.value | keyvalue">
          <div class="form-control">
            <label class="label cursor-pointer w-full gap-2 p-0">
              <input type="checkbox" #check [checked]="tag.value" class="checkbox checkbox-xs rounded-sm checkbox-primary" (change)="switchTag(category.key, tag.key, check.checked)" />
              <span class="label-text flow-grow w-full">{{tag.key}}</span> 
            </label>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>

  <div class="my-8 flex-grow">

    <div class="mb-6 mx-auto w-full sm:max-w-fit sm:px-4 lg:px-6 sm:grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-4 gap-4">
      <app-recipe-card *ngFor="let recipe of recipes$ | async" [recipe]="recipe"></app-recipe-card>
    </div>

    <div *ngIf="pages" class="btn-group flex justify-center">
      <button *ngFor="let page of pages; index as i" class="btn btn-md" [ngClass]="currentPage === page ? 'btn-active' : ''" (click)="this.navigatePage(page)">{{page}}</button>
    </div>

  </div>