<a routerLink="/recipes/43h49sd0">
  <div class="sm:card md:w-80 lg:w-96 bg-base-100 sm:shadow-xl">
    <figure><img src="https://www.supichka.com/files/images/3281/fit_1400_933.jpg" alt="Recipe image" /></figure>
    <div class="card-body">
      <h2 class="card-title">
        Пиле с грах и картофи на фурна
        <!-- <div class="badge badge-secondary">NEW</div> -->
      </h2>
      <p>Бърза и лесна рецепта за вкусна вечеря.</p>
      <div class="card-actions justify-end">
        <div class="badge badge-outline">4 порции</div> 
        <div class="badge badge-outline">15 мин</div>
      </div>
    </div>
  </div>
</a>