<div class="my-16 md:px-4 max-w-screen-lg mx-auto flex flex-col gap-12">
  <h1 class="px-2 md:px-0 text-3xl sm:text-5xl font-bold text-center">{{recipe?.name}}</h1>
  <img src="{{recipe?.imgUrl}}" class="sm:rounded-box" />
  <p *ngIf="recipe?.description" class="px-2 md:px-0">{{recipe?.description}}</p>
  <div class="flex flex-col gap-6 lg:gap-6">
    <div class="divider text-xl uppercase">Необходими продукти</div>
    <div class="px-2 md:px-0 w-full md:max-w-screen-sm lg:max-w-full mx-auto grid grid-cols-1 lg:grid-cols-2 gap-y-4 gap-x-32">
      <div *ngFor="let ing of recipe?.ingredients" class="flex justify-between gap-16">
        <div class="flex gap-4">
          <svg class="text-secondary w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
          <span class="text-left">{{ing.name}}</span>
        </div>
        <span class="text-right">{{ing.quantity}} {{ing.units}}</span>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-6 lg:gap-6">
    <div class="divider text-xl uppercase">Начин на приготвяне</div>
    <ol class="px-2 md:px-0 flex flex-col gap-6">
      <li *ngFor="let step of recipe?.steps; let i = index" class="flex gap-4">
        <div class="place-self-start bg-secondary text-secondary-content flex-none rounded-full w-8 h-8 flex items-center justify-center">{{i + 1}}</div>
        <div class="place-self-center">{{step}}</div>
      </li>
    </ol>
  </div>
</div>