<div class="flex flex-col gap-16 my-12 place-content-center">
  <div class="flex justify-center">
    <h1 class="text-4xl sm:text-6xl font-bold text-primary">404</h1>
    <div class="divider divider-horizontal"></div>
    <div>
      <h1 class="text-4xl sm:text-6xl font-bold mb-2">Тук няма нищо</h1>
      <h3 class="text-secondary text-xl">Страницата, която търсите, не съществува.</h3>
    </div>
  </div>
  <button type="button" class="btn btn-primary w-max mx-auto" routerLink="/">Начало</button>
</div>