 <div class="flex flex-col px-4 my-12 mx-auto sm:max-w-lg gap-16">

  <div>
    <h2 class="mt-6 text-center text-3xl font-bold">Влез в своя профил</h2>
    <p class="mt-2 text-center text-sm">
      или се
      <a routerLink="/auth/register" class="font-medium text-primary">регистрирай тук</a>
    </p>
  </div>

  <form #form="ngForm" class="" (ngSubmit)="loginHandler(form)">
    <div class="form-control w-full m-0">
      <input type="email" name="email" placeholder="E-mail адрес" #email="ngModel" ngModel required email class="input input-bordered w-full" [ngClass]="email.invalid && email.dirty ? 'input-error' : ''" [disabled]="(apiStatus$|async)?.status === 'pending'" />
      <label class="label">
        <span *ngIf="email.dirty && email.invalid" class="label-text-alt text-error">Невалиден e-mail адрес</span>
      </label>
    </div>
    <div class="form-control w-full">
      <input type="password" name="password" placeholder="Парола" #password="ngModel" ngModel required minlength="6" class="input input-bordered w-full" [disabled]="(apiStatus$|async)?.status === 'pending'" />
      <label class="label">
      </label>
    </div>
    <div class="mt-6 flex justify-center gap-2">
      <button type="button" class="btn btn-error gap-2" routerLink="/" >
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
        <span>Отмяна</span>
      </button>
      <button class="btn btn-success gap-2" type="submit" [disabled]="form.invalid || (apiStatus$|async)?.status === 'pending'">
        <svg *ngIf="(apiStatus$|async)?.status === 'pending'" class="animate-spin h-6 w-6 text-neutral-content" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
        <svg *ngIf="(apiStatus$|async)?.status !== 'pending'" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
        <span>Вход</span>
      </button>
    </div>
  </form>

</div>